*{
  margin: 0 auto;
  padding: 0;
  font-family: "montserrat";
  box-sizing: border-box;
}

/*------------Web starter----------*/

.header{
  min-height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/7c601fa9-99d6-445b-a252-5c532f5765ff.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;

}

.logo{
  color:  #E9E9EB;
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-left: 25px;
  text-decoration: none;
}

.logo span{
  color: #B6410F; 
}

/*Nav bar*/

.navbar{
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 50px;
  background-color: transparent;
  right: 0;
  bottom: 0;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  padding-bottom: 10px;
  /*----position: fixed;
    top: 0;
    left: 0;-----*/
}

.checkbox{
  display: none;
}

.nav-links{
  flex: 1;
  text-align: right;
  border: none;
  font-weight: bold;
}

 nav .fa{
  display: none;
}

.nav-links li{
  list-style: none; 
  display: inline-block;
  padding: 8px 20px;
  position: relative;
  padding-bottom: 0;
}

.nav-links li a{
  color: #e9e9ebb7;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.nav-links .home-btn{
  color: #B6410F;
}

/*expanding nav-links*/

.nav-links li{ 
  transition: all .2s ease-in-out; 
}
  
.nav-links li:hover { 
  transform: scale(1.2); 
}

/*End expanding nav-links*/

.nav-links li a:hover{
  color: #B6410F;
  transition: 0.3s ease-out;
}

/*End nav bar*/

/*Heros section*/

#hero{
  z-index: 1;
  text-align: center;
  padding-top: 50px;
}

#hero .hero{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

.hero::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
  z-index: -1;
}

#hero h1{ 
  width: fit-content;
  font-size: 15px;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
  justify-content: space-between;
  line-height: 60 px;
  text-align: center;
  display: inline;
  padding-inline: 5px;

}

#hero h1:nth-child(1){
  animation-delay: 1s;
}

#hero h1:nth-child(2){
  animation-delay: 2s;
}

#hero h1:nth-child(3){
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 2.5s;
}

#hero h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  opacity: 30%;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.2s;
}

#hero h1:nth-child(1) span{
  animation-delay: 0.5s;
}

#hero h1:nth-child(2) span{
  animation-delay: 1.0s;
}

#hero h1:nth-child(3) span{
  animation-delay: 1.5s;
}

/*End Heros section*/

/*Text box*/

.text-box{
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-top: 17px;
  margin: 0 auto;
}

.text-box h1{
  font-size: 52px;
  font-weight: bold;
  color: #E9E9EB;

}

.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;

}

/*text-box line*/

.text-box .btm-line{
  color: #E9E9EB;
  font-size: 70px;
}

/*End text-box line*/

.text-box span{
  color: #B6410F;
}

/*End Text Box*/

/*Button*/

.book-btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid  #E9E9EB;
  border-radius: 20px;
  padding: 12px 34px;
  font-size: 13px;
  font-weight: bold;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}

.book-btn:hover{
  border: 1px solid #B6410F;
  background: #B6410F;
  transition: opacity 0.15s;
  color: white;
  opacity: 0.8;
}

.book-btn:active{
  opacity: 0.5;
}

/*Wiggle animation*/

.wiggle{
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-7deg);
  }
  20% {
    transform: rotateZ(4deg);
  }
  25% {
    transform: rotateZ(-4deg);
  }
  30% {
    transform: rotateZ(4deg);
  }
  35% {
    transform: rotateZ(-3deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

/*End wiggle animation*/

/*End Button*/

@media(max-width: 700px){

  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }

  .hero-container{
    margin-top: 150px;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    padding-bottom: 0;
    padding-right: 0;
    /*----position: fixed;
    top: 0;-----*/
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 2000px black;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }

  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo{
    color:  #E9E9EB;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-right: 0;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  .text-box h1{
    font-size: 30px;
  }
  
  .text-box .btm-line{
    font-size: 30px;
    text-align: center;
  }

  .text-box{
    text-align: center;
    padding-bottom: 0px;
    z-index: -1;
  }

  #hero{
    padding-top: 0px;
    margin: 0;
  }

  #hero h1{
    z-index: -1;
  }
}
/*-------------End Web starter-------*/

/*----------intro section-------*/

.intro{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0D0D0D;
}

.intro-row{
  display: flex;
}

.intro-col-text{
  flex-basis: 48%;
  padding: 30px 2px;
  padding-left: 150px;
}

.intro-col{
  flex-basis: 48%;
  padding: 30px 2px;
  padding-left: 10px;
}

.intro img{
  width: 500px;
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 5px 70px 5px 70px;
  margin: 0;
}

.intro h1{
  font-size: 13px;
  color: #B6410F;
  text-align: left;
}

.intro h2{
  font-size: 40px;
  color: #E9E9EB;
}

/*line*/

.intro-line{
  width: 50px;
  margin-top: 25px;
  border: none;
  height: 1px;
  background-color: #B6410F;
  margin-left: 0;
}

/*End line*/

.intro .sub-header{
  color: #B6410F;
  font-size: 15px;
  margin-top: 25px;
  border: none;
  
}

.intro p{
  margin-top: 15px;
  color: #E9E9EB;
}

.intro-col-text .book-btn{
  padding: 10px 30px;
  font-size: 11px;
  margin-top: 30px;
}

/*Expandign btn*/

.book-btn{
  transition: all 0.2s ease-in-out;
}

.book-btn:hover{
  transform: scale(1.1);
}

/*End Expandign btn*/

@media(max-width: 700px){
  .intro h2{
    font-size: 30px;
    padding-bottom: 20px;
  }

  .intro-line{
    width: 50px;
    border: none;
    height: 1px;
    margin: auto;
    justify-content: center;
  }

  .intro-row{
    display: block;
    justify-content: space-between;
    padding: 0px;
  }

  .intro-col-text{
    text-align: center;
    padding: 20px;
  }

  .intro-col-text p{
    font-size: 15px;
    
  }

  .intro-col{
    padding-left: 0;
  }

  .intro-col img{
    width: 300px;
    padding: 0;
    margin: auto;
    display: flex;
  }

  .intro h1{
    text-align: center;
  }



}

/*----------End intro section-------*/

/*---------servives section------*/

/*service text*/

.services{
  width:80%;
  text-align: center;
  padding-top: 100px;
  background-color: #14151a;
  width: auto;
  padding-bottom: 100px;
  min-height: 500px;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/download\ \(5\).jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.services img{
  width: 200px;
}

.services h1{
  font-size: 12px;
  font-weight: 600;
  color: #E9E9EB;
  font-weight: bold;
}

.services h2{
  font-size: 40px;
  font-weight: 600;
  color: #B6410F;
  font-weight: bold;
  height: 1px;
  z-index: 999;
}

.services p{
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;

}

.services .sub-header{
  color: #E9E9EB;
  margin-top: 40px;
}


.services .row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between
 }

 /*service text*/

 /*price info*/
 
 .price-col{
   flex-basis: 31%;
   background: #e9e9eb23;
   border-radius: 10px;
   margin-bottom: 5%;
   margin: 40px;
   box-sizing: border-box;
   transition: 0.5s;
 }

  /*Expandign btn*/

.price-col{
  transition: all 0.2s ease-in-out;
}

.price-col:hover{
  transform: scale(1.1);
}

/*End Expandign btn*/
 
 .price-col h3{
   text-align: center;
   font-weight: 600;
   margin: 10px 0;
   color: #B6410F;
   padding-top: 10px;
 }

 .price-col h4 span{
  font-size: 40px;
  color: white;
 }

 .price-col h4{
  color: rgba(255, 255, 255, 0.712);
  font-size: 12px;
  font-weight: bold;
 }

 .price-col p{
  color: white;
  font-size: 13px;
  text-align: center;
 }
 
 .price-col:hover{
   box-shadow: 0 0 20 0px #B6410F;
 }

 .price-col img{
  width: 12px;
  margin-right: 7px;
 }

 /*End price info*/

 /*button*/

 .get-started-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid  #B6410F;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 11px;
    background-color: #B6410F;
    margin-bottom: 25px;
  
  }
  
  .get-started-btn:hover{
    border: 1px solid #B6410F;
    transition: opacity 0.15s;
    color: black;
    opacity: 0.8;
  }
  
  .get-started-btn:active{
    opacity: 0.5;
  }

/*expanding get-started-btn*/

.get-started-btn{
  transition: all .3s ease-in-out;
}

.get-started-btn:hover{
  transform: scale(0.9);
}

/*End expanding get-started-btn*/

/*End button*/

@media(max-width: 700px){
  .row{
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    margin: auto;
  }
}

/*---------End servives section------*/

/*---------Call action section-------*/

.cover-cta{
  min-height: 50vh;
  width: 100%;
  background-size: cover;
  position: relative;
  background-color: #0D0D0D;
  padding-top: 100px;
  padding-bottom: 100px;

}

.cta{
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/download\ \(6\).jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  margin-left: 10%; 
  background-attachment: fixed;
}

.cta h5 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
  font-size: 30px;
}



/*---------End Call action section-------*/

/*----------Footer section----------*/

/*Footer info*/

.footer{
  width: 100%;
  text-align: left;
  background-color: #0D0D0D;
  color: gray;
}

.footer-info{
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 60px;
}

.footer h4{
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #E9E9EB;
  padding-left: 50px;
  display: block;
}

.footer p{
  font-size: 13px;
  padding-left: 50px;
  display: block;
  color: gray;
}

.nav-footer-3 .Get-in-touch{
  padding: 5px;
  color: white;

}

.footer-btm{
  text-align: center;
  margin-right: 0;
  color: gray;
  background-color: #0D0D0D;
  padding-bottom: 20px;
  font-size: 13px;
  display: flex;
  justify-content: center;
}

/*.footer-btm hr{
  height: 10px;
  background-color: gray;
  margin-left: 5px;
  margin-right: 5px;
  border-color: gray;
}


/* End Footer info*/

/*icons*/

.icons{
  padding-left: 50px;
}

.icons .fa{
  color: white;
  margin: 0 10px;
  margin-left: 0px;
  cursor: pointer;
  padding: 18px 0;
}

.nav-footer .fa{
  color: white;
}

.icons .fa{ 
  transition: all .2s ease-in-out; 
}
  
.icons .fa:hover { 
  transform: scale(1.5); 
}

/*End icons*/

/*Nav btn*/

.nav-footer{
    font-weight: bold;
    display: inline-block;
    padding: 50px;
  }

  .nav-footer h1{
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
  }

   .nav-footer ul li{
    display: block;
    position: relative;
    line-height: 1.6rem;
    margin-top: 1px;
  }
  
  .nav-footer ul li a{
    color: gray;
    text-decoration: none;
    font-size: 10px;
  }

  .nav-footer ul li a:hover{
    color: #E9E9EB;
    text-decoration: underline;
  }

  .nav-footer h2{
    padding-left: 120px;
    color: white;
    margin-bottom: 20px;
  }

  .nav-footer .git{
    padding-left: 120px;
    line-height: 1.6rem;
  }

  .nav-footer .fa {
    color: white;
    padding-right: 10px;
  }

/* End Nav btn*/

/*keyframes*/
@keyframes text_reveal_box{
  50%{
    width: 100%;
    left: 0;
  }
  100%{
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal{
  100%{
    color: white;
  }
}
@keyframes text_reveal_name{
  100%{
    color: #B6410F;
    font-weight: 500px;
  }
}


@media(max-width: 700px){
 
  .footer-info{
    flex-direction: column;
    justify-content: space-between;
    justify-content: left;
    margin: auto;
    padding: 0;

  }

  .nav-footer{
    padding-top: 100px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .nav-footer h4{
    padding-left: 0;
  }

  .footer h4{
    font-size: 20px;
  }

  .footer p{
    font-size: 15px;
    color: gray;
    padding: 20px;
  }

  .nav-footer h1{
    margin-bottom: 50px;
  }

  .nav-footer h2{
    margin-bottom: 50px;
  }

  .nav-footer .Get-in-touch{
    padding-left: 0;
  }

  .nav-footer .git{
    padding-left: 0;
  }

  .nav-footer .icons{
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    justify-content: center;
    display: flex;
    transform: scale(1.5);
  }

  .footer-btm{
    padding-top: 10px;
    font-size: 11px;
  }

  .nav-footer li{
    font-size: 20px;
  }

  .footer-btm .made-by{
    margin: 0;
  }
}

/*----------End Footer section----------*/


/* End keyframes*/

/*--------------------------------------------ABOUT PAGE--------------------------------------------------------*/

.about-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/download.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.about-header h1{
  margin-top: 130px;
  font-size: 50px;
}

.about-us .row{
  display: flex;
}

.about-us{
  width: 100%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #0D0D0D;
}

.about-col{
  flex-basis: 40%;
  justify-content: center;
  margin: auto;
}

.about-col img{
  width: 300px;
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 5px 70px 5px 70px;
  margin: 0;
  background-position: center;
  background-size: cover;

}

.about-col h1{
  padding-top: 0;
  color: #B6410F;
}

.about-col p{
  padding: 15px 0;
  color: white;

}

/*button*/
.book-btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid  #E9E9EB;
  border-radius: 20px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 0px;

}

.book-btn:hover{
  border: 1px solid #B6410F;
  background: #B6410F;
  transition: opacity 0.15s;
  color: white;
  opacity: 0.8;
}

.book-btn:active{
  opacity: 0.5;
}

/*End button*/

@media(max-width: 700px){
  .about-col img{
    width: 300px;
    margin-top: 70px;
  }

  .about-col {
    text-align: center;
    padding: 20px;
  }

  .about-header h1{
    font-size: 40px;
  }

}




/*--------------------------------------------End ABOUT PAGE--------------------------------------------------------*/


/*--------------------------------------------SERVICE PAGE--------------------------------------------------------*/

/*sub header section*/

.service-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/download.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.service-header h1{
  margin-top: 130px;
  font-size: 50px;
}

.service .row{
  display: flex;
}

.service{
  width: 100%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #0D0D0D;
}

.service-col{
  flex-basis: 48%;
  padding: 2px 30px;
}

.service img{
  width: 50%;
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 40px;
  margin: 0;

}

.service-col h1{
  padding-top: 0;
  color: white;
}

.service-col p{
  padding: 15px 0;
  color: white;

}

.book-btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid  #E9E9EB;
  border-radius: 20px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 0px;

}

.book-btn:hover{
  border: 1px solid #B6410F;
  background: #B6410F;
  transition: opacity 0.15s;
  color: white;
  opacity: 0.8;
}

.book-btn:active{
  opacity: 0.5;
}

/*sub header section*/

/*service  content section*/

.services-page{
  width:80%;
  text-align: center;
  padding-top: 100px;
  background-color: #0D0D0D;
  width: auto;
  padding-bottom: 100px;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.services-page h1{
  font-size: 12px;
  font-weight: 600;
  color: #E9E9EB;
  font-weight: bold;
}

.services-page h2{
  font-size: 40px;
  font-weight: 600;
  color: #B6410F;
  font-weight: bold;
  height: 1px;
}

.services-page p{
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;

}

.services-page .sub-header{
  color: #E9E9EB;
  margin-top: 40px;
}


.services-page .row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between
 }
 
 .price-col{
   flex-basis: 31%;
   background: #e9e9eb23;
   border-radius: 10px;
   margin-bottom: 5%;
   margin: 40px;
   box-sizing: border-box;
   transition: 0.5s;
 }
 
 .price-col h3{
   text-align: center;
   font-weight: 600;
   margin: 10px 0;
   color: #B6410F;
   padding-top: 10px;
 }

 .price-col h4 span{
  font-size: 40px;
  color: white;
 }

 .price-col h4{
  color: rgba(255, 255, 255, 0.712);
  font-size: 12px;
 }

 .price-col p{
  color: white;
  font-size: 13px;
  text-align: center;
 }
 
 .price-col:hover{
   box-shadow: 0 0 20px 0px #B6410F;
 }

 .price-col img{
  width: 12px;
  margin-right: 7px;
 }

 .get-started-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid  #B6410F;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 11px;
    background-color: #B6410F;
    margin-bottom: 25px;
  
  }
  
  .get-started-btn:hover{
    border: 1px solid #B6410F;
    transition: opacity 0.15s;
    color: black;
    opacity: 0.8;
  }
  
  .get-started-btn:active{
    opacity: 0.5;
  }

  /*End service  content*/



  @media(max-width: 700px){
   .service-header h1{
    font-size: 40px;
   }

   .services-page{
    padding: 10px;
   }

   .services-page h2{
    margin: 0;
   }

   .services-page h1{
    margin: 0;
    margin-top: 30px;
   }

  .services-page .sub-header{
    padding-top: 100px;
   }

   .price-col{
    padding-bottom: 0;
   }

  }

/*--------------------------------------------End SERVICE PAGE--------------------------------------------------------*/

/*--------------------------------------------SHOP PAGE--------------------------------------------------------*/
/*--------------------------------------------End SHOP PAGE--------------------------------------------------------*/

/*--------------------------------------------CONTACT PAGE--------------------------------------------------------*/

.contact-header{
  min-height: 100vh;
  width: 100%;
  background-image: url(image/Black\ World\ Map.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.contact-header h1{
  margin-top: 80px;
  font-size: 60px;
  text-align: left;
  padding-left: 40px;
}

.contact-info-form p{
  padding-left: 700px;
  text-align: left;
}

.contact-info-form hr{
  width: 400px;
  margin-left: 700px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0;
  height: 1px;
  background-color: gray;
}

.contact-info-form h4{
  text-align: left;
  padding-left: 700px;
  padding-bottom: 15px;
}

.contact-info-form h5{
  text-align: left;
  padding-left: 700px;
  padding-top: 15px;
}

.contact-info-form h5 span{
  padding-left: 10px;
  color: white;
}

.contact-info{
  padding-left: 1000px;

}

.contact-page .icons-cp{
  color: white;
  padding-top: 30px;
  padding-left: 100px;
}

.icons-cp .fa{
  margin-right: 50px;
  transition: all .2s ease-in-out;
  cursor: pointer; 
  transform: scale(1.8);
}
  
.icons-cp .fa:hover { 
  transform: scale(2.5); 
  color: #B6410F;
}

@media(max-width: 700px){
  .contact-header{
    margin: auto;
    justify-content: center;
  }

  .contact-header h1{
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }

  .contact-box{
    padding: 10px;
  }

  .contact-info-form p{
    padding: 0;
    text-align: center;
  }

  .contact-info-form hr{
    margin-left: 0px;
  }
  
  .contact-info-form h4{
    padding-left: 0px;
    text-align: center;
    font-size: 15px;
  }
  
  .contact-info-form h5{
    padding-left: 0px;
    text-align: center;
    font-size: 15px;
    color: white;
  }
  
  .contact-info-form h5 span{
    color: white;
  }
  
  .contact-info{
    padding-left: 0px;
    padding-top: 20px;
  }
  
  .contact-page .icons-cp{
    color: white;
    padding-top: 30px;
    padding-left: 0px;
  }


}


/*--------------------------------------------End CONTACT PAGE--------------------------------------------------------*/

/*--------------------------------------------CONTACT 1 PAGE (Package 1)--------------------------------------------------------*/


body {
  background-image: url(image/download\ \(11\).jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  font-size: 72px;
  color: white;
  text-align: center;
  padding-top: 50px;
}

h4 {
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 2.5;
}

.container-contact{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ///// inputs /////*/

input{
  font-size: 0.75em;
  color: #999;
  width: 50%;
  font-weight: bold;
}

input,textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  justify-content: center;
  display: flex;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  margin-top: 20px;
  margin-bottom: 10px;
  
}

textarea {
  width: 100%;
  min-height: 15em;
}

button{
  justify-content: center;
  display: flex;
  margin-bottom: 70px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 1px solid  #B6410F;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 11px;
  background-color: #B6410F;
}

button:hover{
  border: 1px solid #B6410F;
  transition: opacity 0.15s;
  color: black;
  opacity: 0.8;
}

button:active{
  opacity: 0.5;
}

/*expanding get-started-btn*/

button{
transition: all .1s ease-in-out;
}

button:hover{
transform: scale(1.2);
}

/*End expanding get-started-btn*/

input[type=text], select, textarea {
  width: 100%;
  box-sizing: border-box; 
  resize: vertical;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  padding: 20px;
  margin-top: 10px;
  color: #999;
  font-weight: bold;
}

.plan{
  color: white;
  margin-left: 10px;
}

#font-plan{
  justify-content: center;
  display: flex;
}

@media (max-width: 700px){
  input,textarea{
    width: 90%;

  }

  input[type=text], select, textarea{
    width: 90%;

  }

  .plan{
    margin-left: 30px;    
  }

    
}  

/*--------------------------------------------End CONTACT 1 PAGE (Package 1)--------------------------------------------------------*/
